* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-family: Gordita, Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: rgb(127, 127, 127);
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}
input,
textarea,
select {
  font-family: "Gordita Regular", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
a {
  color: rgb(0, 0, 0);
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.9em;
  font-size: 16px;
  font-family: "Gordita Medium", Arial;
  color: rgb(127, 127, 127);
  font-weight: 600;
}

h1 {
  line-height: 1.5em;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 85%;
  margin: 0px auto;
  max-width: 1440px;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 600;
  src: local("Gordita Regular"),
    url("../font/Gordita Regular.woff") format("woff");
}
@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Gordita Bold"), url("../font/Gordita Bold.woff") format("woff");
}
@font-face {
  font-family: "Gordita Thin";
  font-style: normal;
  font-weight: 600;
  src: local("Gordita Thin"), url("../font/Gordita Light.woff") format("woff");
}
@font-face {
  font-family: "Gordita Black";
  font-weight: 500;
  src: local("Gordita Black"), url("../font/ Black.woff") format("woff");
}
@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Gordita Medium"), url("//font/Gordita Medium.woff") format("woff");
}
header {
  padding: 30px 0px;
}
header section.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.container div.left {
}
header section.container div.left h1 {
  width: 70%;
}
header section.container div.left h1 img {
  display: block;
  width: 100%;
}
header section.container div.middle {
  width: 60%;
}
header section.container div.middle ul {
  display: flex;
  justify-content: space-between;
}
header section.container div.middle ul li {
}
header section.container div.middle ul li:last-child {
}
header section.container div.middle ul li a {
  color: rgb(127, 127, 127);
  font-size: 20px;
  font-weight: 500;
}
header section.container div.middle ul li a.button {
  border-radius: 30px;
  padding: 18px 30px;
  background-color: rgb(0, 33, 225);
  color: rgb(255, 255, 255);
}
#spotlight {
  padding: 70px 0px;
}
#spotlight section.container {
  display: flex;
  justify-content: space-between;
}
#spotlight section.container div.left {
  width: 45%;
}
#spotlight section.container div.left div.icon_container {
  display: flex;
  align-items: center;
}
#spotlight section.container div.left div.img {
  width: 25px;
}
#spotlight section.container div.left div.img img {
  display: block;
  width: 100%;
}
#spotlight section.container div.left h6 {
  color: rgb(30, 39, 235);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
#spotlight section.container div.left h1 {
  font-size: 46px;
  font-weight: 900;
  margin-top: 50px;
  width: 93%;
  color: rgb(0, 0, 0);
}
#spotlight section.container div.left h1 span {
  font-size: 55px;
  color: rgb(0, 33, 225);
  font-weight: 700;
}
#spotlight section.container div.left p {
  margin-top: 35px;
  width: 335px;
  color: rgb(127, 127, 127);
  font-weight: 600;
}
#spotlight section.container div.left form {
  margin-top: 50px;
  position: relative;
}
#spotlight section.container div.left form input {
  border-radius: 20px;
  width: 90%;
  height: 80px;
  padding: 10px 10px 10px 32px;
  box-shadow: rgb(182, 192, 255) 1px 1px 10px;
  font-weight: bold;
}
#spotlight section.container div.left form button {
  border-radius: 11px;
  height: 70px;
  font-size: 20px;
  width: 185px;
  background-color: rgb(0, 33, 225);
  color: rgb(255, 255, 255);
  font-weight: 500;
  position: absolute;
  left: 322px;
  bottom: 5px;
  cursor: pointer;
}
#spotlight section.container div.right {
  width: 45%;
}
#spotlight section.container div.right div.container {
  display: flex;
}
#spotlight section.container div.right div.container div.img1 {
  margin-right: 10px;
  display: inline-block;
}
#spotlight section.container div.right div.container div.img1.p {
  margin-top: 15%;
}
#spotlight section.container div.right div.container div.img1 img {
  border-radius: 20px;
  width: 100%;
  display: block;
}
#spotlight div.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
#spotlight div.bottom div.p {
}
#spotlight div.bottom div.p small {
  border-top: 1px solid rgb(127, 127, 127);
  font-weight: 300;
  display: block;
  font-size: 17px;
}
#spotlight div.bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
#spotlight div.bottom ul li {
}
#spotlight div.bottom ul li a {
  display: block;
  width: 80%;
}
#spotlight div.bottom ul li img {
  display: block;
  width: 100%;
}
#archive {
  background-color: rgb(244, 245, 250);
  padding: 90px 0px;
}
#archive section.container {
  display: flex;
  align-items: center;
}
#archive section.container div.left {
}
#archive section.container div.left h5 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
#archive section.container div.left h1 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  width: 60%;
}
#archive section.container ul {
  display: flex;
  justify-content: space-between;
}
#archive section.container ul li {
  display: flex;
  justify-content: space-between;
}
#archive section.container ul li div.round {
  width: 78px;
  height: 74px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-family: "Gordita Bold";
  justify-content: center;
  position: relative;
  right: -44px;
}
#archive section.container ul li div.round div.img {
  width: 50%;
}
#archive section.container ul li div.round div.img img {
  width: 100%;
  display: block;
  filter: invert(1);
}
#archive section.container ul li div.content {
  width: 70%;
}
#archive section.container ul li div.content h2 {
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 20px;
}
#archive section.container ul li div.content p {
  font-size: 15px;
  color: rgb(127, 127, 127);
  width: 85%;
  font-weight: 600;
}
